services:
  welcome:
    image: ${DOCKER_REGISTRY}/welcome:${DOCKER_BRANCH}
    container_name: ${DOCKER_BRANCH}-welcome
    networks:
      - traefik-realt
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${DOCKER_BRANCH}-welcome.rule=Host(`${DOCKER_BRANCH}.realt.community`)"
      - "traefik.http.routers.${DOCKER_BRANCH}-welcome.entrypoints=websecure"
    restart: always

networks:
  traefik-realt:
    external: true
