.blue,article#rules h3 {
    color: #02aafe
}

.no-style,.trombi ul {
    list-style-type: none
}

.no-decoration {
    text-decoration: none
}

.center {
    text-align: center
}

.left {
    text-align: left
}

.flex-center,.trombi .profile-info,.trombi li {
    display: flex;
    align-items: center
}

#header img.logo {
    width: 100%;
    height: auto
}

#header .logo .icon:before {
    font-size: 1.75rem
}

.trombi ul {
    padding: 0;
    margin: 0
}

.trombi li {
    margin-top: .2rem;
    margin-bottom: .2rem;
    background-color: #384c7530;
    border-radius: .7rem;
    padding: .5rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.2)
}

.trombi .profile-info {
    gap: 1rem
}

.trombi .profile-pic {
    margin-right: .1rem
}

.trombi img {
    border-radius: 50%;
    height: 2.5rem
}

.trombi .name {
    font-weight: 700;
    color: #fff;
    font-size: 1.1rem
}

.trombi .networks {
    display: flex;
    align-items: center;
    gap: 1rem
}

.trombi .icon {
    font-size: 1.5rem;
    text-decoration: none
}

.product,.trombi .description {
    display: flex;
    align-items: center
}

.trombi .description {
    flex-grow: 1;
    justify-content: flex-end;
    margin-left: .1rem;
    font-size: 1rem;
    color: #02b2fe;
    font-weight: 700;
    font-style: italic
}

.trombi .description p {
    margin: 0;
    padding: .5rem
}

.product {
    justify-content: center;
    flex-direction: row
}

.product-link {
    margin-right: 10px
}

.product .major {
    margin: 0;
    padding-right: 10px
}

#footer .social-links a {
    text-decoration: none!important;
    border: 0!important
}

#footer .social-links {
    margin-bottom: 10px
}

#footer .social-links a i {
    font-size: 24px;
    margin: 5px
}

li .dashboard-link {
    font-size: 1.2rem
}

h2.major,h7.major {
    color: #02b2fe;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -ms-max-content;
    width: max-content;
    margin: 0 auto 1rem
}

#header nav ul li a.link-development,#header nav ul li a.link-donate,#header nav ul li a.link-presentation,#header nav ul li a.link-product {
    color: #02aafe;
    font-weight: 600
}

#header nav ul li a.link-contact,#tokenDropdown option {
    color: #fff
}

article#rules ol li {
    margin: 15px
}

article#rules ol li strong {
    text-decoration: underline;
    color: #02aafe
}

#donate a,#tokenDropdown {
    color: #02aafe;
    font-weight: 700
}

#donate a {
    font-size: 1.25em;
    text-decoration: underline
}

#tokenDropdown {
    background-color: transparent;
    border: 1px solid #02aafe;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    display: inline-block;
    width: 60%
}